@import '../../../styles/variables.module.scss';

$dayWidth: 24px;
$dayHeight: 24px;

.container {
  user-select: none;
  width: fit-content;

  .monthAndYear {
    display: flex;
    gap: 0 $indent-medium;
    justify-content: space-between;
    margin-bottom: $indent-medium;

    .monthPanel {
      width: 70%;
      justify-content: space-between;

      .arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }

    .currentMonth .monthName {
      position: relative;
    }

    .currentMonth .monthName::after {
      content: '';
      position: absolute;
      top: 0px;
      right: -8px;
      width: 6px;
      height: 6px;
      background-color: $color-yellow;
      border-radius: 50%;
    }

    .yearPanel {
      width: 30%;
      justify-content: center;
    }

    div {
      display: flex;
      align-items: center;
      padding: $indent-medium $indent-small;

      border-radius: $borderRadius;
      box-shadow: var(--currentBoxShadowOutline);
    }
  }

  .daysPanel {
    padding: $indent-small;
    border-radius: $borderRadius;
    box-shadow: var(--currentBoxShadowOutline);

    .days {
      min-width: 250px;
      min-height: 250px;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);

      .weekDays {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(7, 1fr);
        font-weight: $fontWeight-bold;
      }

      .day {
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background-color $transition;
        cursor: pointer;
      }

      .dayGrey {
        opacity: 0.5;
      }

      .dayWeekend {
        color: $color-orange;
      }

      .dayToday {
        position: relative;
      }

      .dayToday::before {
        content: '';
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        border: 1px solid $color-yellow;
        border-radius: 50%;
      }

      .daySelected:not(.dayToday) {
        background-color: rgba(254, 198, 2, 0.5);
      }

      .daySelected.dayToday {
        background-color: $color-yellow;
      }

      @media (any-hover: hover) {
        .day:hover:not(.dayToday):not(.daySelected) {
          background-color: var(--secondTheme);
        }

        .dayToday:hover {
          background-color: $color-yellow;
        }
      }
    }
  }
}
