@import '../../styles/variables.scss';

.container {
  min-height: 100vh;
  margin-right: $size-sidebarWidth;

  .content {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    margin: $indent-small $indent-medium;
    padding: $indent-small $indent-medium;
    min-height: calc(100vh - ($indent-small * 2));

    position: relative;

    .menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $indent-small;
    }
  }
}
