@import '../../styles/variables.module.scss';

.container {
  margin-right: $size-sidebarWidth;

  .content {
    position: relative;
    box-shadow: var(--currentBoxShadowOutline);
    border-radius: $borderRadius;
    margin: $indent-small;
    padding: $indent-small $indent-medium;
    min-height: calc(100vh - ($indent-small * 2));

    .menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $indent-small;
    }
  }
}
