@import '../../styles/variables.module.scss';

$menuContainerWidth: 44px;

.container {
  margin-right: $size-sidebarWidth;
  display: flex;
  height: 100vh;

  .content {
    padding: $indent-small $indent-medium;
    width: 100%;
    margin-right: $menuContainerWidth;
  }

  .menuContainer {
    width: $menuContainerWidth;
    height: 100vh;
    position: fixed;
    top: 0;
    right: $size-sidebarWidth;
    display: flex;
    justify-content: flex-end;

    .menu {
      position: absolute;
      z-index: 20;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
