@import "../../styles//variables.scss";

.button {
  cursor: pointer;
  letter-spacing: .025em;
  margin: 0.5rem;
  font-weight: $fontWeight-bold;
  border-radius: $borderRadius;
  padding: $indent-small;
  border: none;
}

.buttonLight {
  // background-color: #e6e7ee;
  // box-shadow: 3px 3px 4px #b8b9be, -3px -3px 4px #fff;

  // &:hover {
  //   box-shadow: inset 3px 3px 4px #b8b9be, inset -3px -3px 4px #fff;
  //     color: orangered;
  // }
  box-shadow: $boxShadow;
  &:active {
    box-shadow: $boxShadowInset;
  }
}

.buttonDark {
  background: #262731;
  box-shadow: 3px 3px 4px #1c1c24,
  -3px -3px 4px #30323e;

  &:hover {
      box-shadow: inset 3px 3px 4px #1c1c24,
      inset -3px -3px 4px #30323e;
      color: orangered;
  }
}
.buttonPill {
  border-radius: $pill-radius;
}



