@import '../../styles//variables.module.scss';

@media screen and (max-width: 800px), screen and (max-height: 650px) {
  div.container {
    .form {
      padding: $indent-small;

      .text {
        margin-bottom: $indent-smedium;
        font-size: $fontSize-medium;
      }

      .error {
        font-size: $fontSize-xxsmall;
      }

      .forgot {
        transform: none;
        margin-top: $indent-small;
        font-size: $fontSize-xsmall;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $indent-medium $indent-large;
    box-shadow: var(--currentBoxShadowOutline);
    border-radius: $borderRadiusBigger;

    .text {
      color: var(--currentText);
      font-family: $fontFamily;
      // font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: $fontWeight-normal;
      margin-bottom: $indent-large;
    }

    .form_items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $indent-small 0;
    }

    .form_item {
      .label {
        display: flex;
        align-items: flex-start;
        margin-bottom: $indent-small;
      }

      input {
        width: 300px;
      }
    }

    .button_submit {
      margin-top: $indent-medium;
    }

    .error_container {
      height: 1.5vh;
    }

    .error {
      display: flex;
      align-items: flex-start;
      font-style: normal;
      font-weight: 300;
      font-size: $fontSize-xsmall;
      line-height: 21px;
      color: $color-orange;
    }
    .forgot {
      text-decoration: none;
      transform: translateY(900%);
    }

    .forgot:hover {
      color: var(--currentEditionalColor);
    }
  }
}

.forgot_page_text {
  margin-bottom: 7px;
  text-align: right;
  width: 300px;
  font-size: $fontSize-xxsmall;
}

.forgot_page_item {
  margin-bottom: $indent-large;
  input {
    width: 300px;
  }
}

.sadSmileIcon {
  margin: $indent-xsmall;
}