@import '../../styles//variables.module.scss';

.container {
  margin: $indent-medium auto;
  max-width: 1000px;

  .text {
    margin-bottom: $indent-large;
  }

  .avatar {
    width: 100px;
    height: 100px;
    background-color: var(--currentTheme);
    box-shadow: var(--currentBoxShadowInset);
    border-radius: 50%;
    position: relative;
    outline: 2px solid var(--currentEditionalColor);
    outline-offset: 10px;

    svg {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 25%;
      left: 25%;
    }
  }

  .block {
    padding: $indent-large $indent-small;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: $indent-large;
    grid-column-gap: $indent-small;

    .block_input {
      margin-right: $indent-large;
      margin-bottom: $indent-medium;

      input {
        width: 450px;
        box-shadow: var(--currentBoxShadowInset);
      }
    }
  }

  .button_submit {
    max-width: 450px;
    max-height: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .block {
      display: block;
      .block_input {
        margin-right: none;
      }
    }
  }
}
