@import '../../styles/variables.module.scss';

.roomContainer {
    height: 410px;
    min-width: 280px;
    margin-bottom: 10px;
    transition: $transition;
}

.roomActiveContainer {
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    z-index: 1;
}

.room {
    position: relative;
    box-shadow: var(--currentDashboardBoxShadow);
    background-color: var(--currentTheme);
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    height: fit-content;
    max-height: 400px;
    font-size: 0.9em;
    transition: $transition;
    cursor: pointer;

    &:hover {
        .imageContainer {
            transition: $transition;
            filter: grayscale(0.24);
        }
    }
    .roomFeatures {
        padding: 0 $indent-small;
        transition: 0.2s ease-in-out;
        font-size: $fontSize-small;
    }
}

.activeRoom {
    min-width: 280px;
    max-width: 750px;
    width: 100%;
    min-height: 310px;
    height: fit-content;
    max-height: 600px;
    z-index: 49;
    filter: blur(0);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:hover {
        .imageContainer {
            transition: $transition;
            filter: none;
            transform: none;
        }
    }
}
.bluredRoom {
    filter: blur(6px);
    pointer-events: all;
    &:hover {
        box-shadow: var(--currentBoxShadowOutline);
    }
}

.defaultRoomView {
    display: flex;
    min-width: 100%;
    flex-direction: column;
}

.imageContainer {
    width: 100%;
    min-height: 143px;
    height: 220px;
    max-height: 240px;
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    background-image: url('../../assets/images/meeting-room.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
}

.nameContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    min-width: 100%;
    &>h2 {
        margin: auto 0 auto 5px;
    }
}

.buttonContainer {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.features {
    display: flex;
    justify-content: flex-start;
}

.featureIcon {
    margin: 3px;
    cursor: pointer;
    svg {
            width: 24px;
            height: 24px;
            fill: var(--currentText);
        }
}
.featureCustomIcon {
    margin: 3px;
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    svg {
        width: $indent-medium;
        height: $indent-medium;
        fill: var(--currentText);
    }
}

.closeContainer {
    background-color: var(--currentTheme);
    position: absolute;
    right: $indent-small;
    top: $indent-small;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $indent-small;
}

.closeIcon {
    cursor: pointer;
    svg {
        padding: 2px;
        width: 25px;
        height: 22px;
        transition: $transition;
        fill: var(--);
        &:hover {
            fill:var(--currentExtraColor);
        }
    }
}
.info {
    position: absolute;
    bottom: $indent-small;
    right: $indent-small;
}

.mainInfoContainer {
    width: 100%;
    padding: $indent-small;
}

.fullRoomInfo {
    display: flex;
    height: 0;
    width: 0;
    z-index: -1;
    opacity: 0;
    transition: $transition;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: default;
    box-shadow: var(--currentDashboardBoxShadow);
    border-radius: $borderRadius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.activeFullInfo {
    min-height: 0;
    height: fit-content;
    max-height: 465px;
    width: 100%;
    opacity: 1;
    background-color: var(--currentTheme);
    box-shadow: none;
}

.soonestBookings {
    height: fit-content;
    max-height: 100%;
    width: 100%;
    padding: 0 $indent-small;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reserveRoomButton {
    margin: $indent-xsmall auto $indent-small auto;
    min-width: 115px;
    width: 60%;
    max-width: 300px;
}

.availableicon {
    position: absolute;
    top: $indent-small;
    left: $indent-small;
    svg {
        width: 24px;
        height: 24px;
    }
}
