@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import '../../styles//variables.module.scss';

.container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  margin-top: 20px;
  font-family: 'Silkscreen', cursive;
  font-size: 60px;
  letter-spacing: 12px;
  color: var(--currentText);
}
