@import '../../../styles//variables.module.scss';
.container {
  margin-bottom: $indent-large;
  display: block;
}

.input {
  max-width: 450px;
  margin: $indent-medium 0;
}

.error {
  margin-bottom: $indent-small;
}
