@import '../../styles/variables.module.scss';

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_item {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;

  p {
    padding-left: 10px;
  }
}
.content {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-gap: 10px;
  position: relative;
}

.checkbox {
  display: flex;
  margin: $indent-small;

  p {
    padding-left: $indent-xsmall;
  }
}
.icon svg {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  fill: var(--currentText);
}
.picker input {
  color: var(--currentText);
  &::placeholder {
    color: var(--currentText);
  }
}

.picker,
input[type='date'],
input[type='time'] {
  width: 300px;
  height: 38px;
  font-family: $fontFamily;
  outline: none;
  border-radius: 5px;
  color: black;
  transition: $transition;
  text-align: start;
  font-size: $fontSize-small;
}

input[type='date'],
input[type='time'] {
  padding: $indent-small;
  border: 1px solid lightgray;
  box-shadow: none;

  &:hover {
    border: 1px solid gray;
  }

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: 0 0 0 1px $color-blue;
  }
}
.button_submit {
  margin: $indent-small 0;
  width: 300px;
  font-size: $fontSize-small;
}
.users__value-container {
  max-height: 60px;
  overflow-y: scroll;
  background-color: red !important;
}
