@import './variables.module.scss';

:root {
  --currentTheme: #{$color-mainLight};
  --secondTheme: #{$color-light1};
  --currentText: #{$color-textLight};
  --currentBoxShadowOutline: #{$boxShadowLightOutline};
  --currentBoxShadowInset: #{$boxShadowLightInset};
  --currentDashboardBoxShadow: #{$boxShadowDashboardLight};
  --currentDashboardTheme: #{$colorDashboardLight};
  --currentLoader: #{$loader-light};
  --currentEditionalColor: #{$color-violet};
  --currentExtraColor: #{$color-blue};
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--currentText);
  scrollbar-color: var(--currentText);
  scrollbar-width: thin;
}

body {
  font-family: $fontFamily;
  font-weight: $fontWeight-normal;
  font-size: $fontSize-small;
  background-color: var(--currentTheme);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: var(--currentText);
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
