@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-text;
  scrollbar-color: $color-text;
  scrollbar-width: thin;
}

body {
  font-family: $fontFamily;
  font-weight: $fontWeight-normal;
  font-size: $fontSize-small;
  background-color: $color-mainLight;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $color-text;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
