@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

// FONT
$fontFamily: 'Mulish', sans-serif;
$fontWeight-normal: 400;
$fontWeight-bold: 700;
$fontSize-xxsmall: 12px;
$fontSize-xsmall: 15px;
$fontSize-small: 18px;
$fontSize-medium: 24px;
$fontSize-large: 30px;

// COLORS
$color-textLight: #001f3f;
$color-textDark: rgb(221, 221, 221);

$color-mainLight: #f4f4f4;
$color-light1: #cfcfcf;
$color-light2: #ffffff;

$color-mainDark: #18191a;
$color-dark1: #0d0e0e;
$color-dark2: #232526;

// It`s our previous colours, for now I use new for testing
// $color-mainDark: #333333;
// $color-dark1: #2b2b2b;
// $color-dark2: #3b3b3b;

$color-orange: #ba2d0b;
$color-yellow: #fec602;

$colorDashboardLight: #ffffff;
$colorDashboardDark: #292929;
$color-blue: #2664ff;

// NOTIFICATIONS
$successBackgroundColor: #eaf7ee;
$successBorderColor: #d3e6d8;
$successTextColor: #3bb65d;

$infoBackgroundColor: #e5effa;
$infoBorderColor: #c7d6e7;
$infoTextColor: #016ce2;

$errorBackgroundColor: #fcede9;
$errorBorderColor: #edd4ce;
$errorTextColor: #ea4e2c;

// FOR NEUMORPHISM
$blur: 6px;
$borderRadius: 10px;
$borderRadiusBigger: 40px;
$pill-radius: 2rem;
$circle: 50%;

$boxShadowLightOutline: 3px 3px $blur $color-light1,
  -3px -3px $blur $color-light2;
$boxShadowLightInset: inset 3px 3px $blur $color-light1,
  inset -3px -3px $blur $color-light2;

$boxShadowDarkOutline: 3px 3px $blur $color-dark1, -3px -3px $blur $color-dark2;
$boxShadowDarkInset: inset 3px 3px $blur $color-dark1,
  inset -3px -3px $blur $color-dark2;

// BOX SHADOWS
$boxShadowDashboardLight: 0 0 8px 2px lightgray;
$boxShadowDashboardDark : 0 0 8px 2px rgb(8, 8, 8);

// ANIMATION
$transition: 0.2s ease-in-out;
$transition-slow: 0.6s ease-in-out;

// MARGIN & PADDING
$indent-xsmall: 5px;
$indent-small: 10px;
$indent-smedium: 15px;
$indent-medium: 20px;
$indent-large: 30px;

// SIZES
$size-sidebarWidth: 300px;

:export {
  mainLight: $color-mainLight;
  mainDark: $color-mainDark;
  secondLight: $color-light1;
  secondDark: $color-dark1;
  textLight: $color-textLight;
  textDark: $color-textDark;
  boxShadowLightOutline: $boxShadowLightOutline;
  boxShadowLightInset: $boxShadowLightInset;
  boxShadowDarkOutline: $boxShadowDarkOutline;
  boxShadowDarkInset: $boxShadowDarkInset;
  colorDashboardLight: $colorDashboardLight;
  colorDashboardDark:$colorDashboardDark;
  boxShadowDashboardLight: $boxShadowDashboardLight;
  boxShadowDashboardDark: $boxShadowDashboardDark;
}
