@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

// FONT
$fontFamily: 'Mulish', sans-serif;
$fontWeight-normal: 400;
$fontWeight-bold: 700;
$fontSize-small: 18px;
$fontSize-medium: 24px;
$fontSize-large: 30px;

// COLORS
$color-mainLight: #c3cadc;
$color-light1: #a6acbb;
$color-light2: #e0e8fd;
$color-mainDark: #333333;
$color-grey3: #2b2b2b;
$color-grey4: #3b3b3b;

$color-mainDark: #333333;
$color-dark1: #2b2b2b;
$color-dark2: #3b3b3b;
$color-textDark: #a6acbb;

$color-orange: #ba2d0b;
$color-yellow: #fec602;
$color-text: #001f3f;

// FOR NEUMORPHISM
$blur: 6px;
$borderRadius: 10px;
$pill-radius: 2rem;
$circle: 50%;

$boxShadowLight: 3px 3px $blur $color-light1, -3px -3px $blur $color-light2;
$boxShadowLightInset: inset 3px 3px $blur $color-light1,
  inset -3px -3px $blur $color-light2;

$boxShadowDark: 3px 3px $blur $color-dark1, -3px -3px $blur $color-dark2;
$boxShadowDarkInset: inset 3px 3px $blur $color-dark1,
  inset -3px -3px $blur $color-dark2;

// ANIMATION
$transition: all 0.2s ease-in-out;
$transition-slow: all 0.6s ease-in-out;

// MARGIN & PADDING
$indent-small: 10px;
$indent-medium: 20px;
$indent-large: 30px;

// SIZES
$size-sidebarWidth: 300px;
$size-headerHeight: 100px;
