@import '../../../styles/variables.module.scss';

.button {
  width: fit-content;
  cursor: pointer;
  letter-spacing: 0.025em;
  font-weight: $fontWeight-bold;
  border-radius: $borderRadius;
  padding: $indent-small;
  border: none;
  background-color: var(--currentTheme);
  box-shadow: var(--currentBoxShadowOutline);
  transition: color $transition;
}

.button:active {
  box-shadow: var(--currentBoxShadowInset);
}

@media (any-hover: hover) {
  .button:hover {
    color: $color-orange;
  }
}

.buttonLight {
  background-color: $color-mainLight;
  box-shadow: $boxShadowLightOutline;
}
.buttonLight:active {
  box-shadow: $boxShadowLightInset;
  color: $color-orange;
}
.buttonDark {
  background-color: $color-mainDark;
  box-shadow: $boxShadowDarkOutline;
}
.buttonDark:active {
  box-shadow: $boxShadowDarkInset;
  color: $color-orange;
}

.buttonPill {
  border-radius: $pill-radius;
}
