@import '../../styles/variables.module.scss';

.roundMenuBody {
  position: fixed;
  bottom: 25px;
  left: 20px;
  min-width: 50px;
  min-height: 50px;
  border-radius: $circle;
  background: var(--currentTheme);
  cursor: pointer;
  box-shadow: var(--currentBoxShadowOutline);
  z-index: 1000;
  &:active {
    box-shadow: var(--currentBoxShadowInset);
  }
}

.plusIcon {
  margin: 3px;
  svg {
    font-size: 44px;
    fill: var(--currentText);
  }
}
@media (any-hover: hover) {
  .plusIcon svg:hover {
    fill: $color-orange;
  }
}
