@import '../../styles/variables.module.scss';

.modal {
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__container {
    position: relative;
    border-radius: $borderRadius;
    border: none;
    height: fit-content;
    max-height: 80vh;
    overflow-y: auto;
    min-width: 50%;
  }

  .modalForm {
    min-width: fit-content;
  }
}

.modal_header {
  text-align: center;
  padding: $indent-xsmall;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;

  svg {
    width: 24px;
    height: 24px;
    transition: $transition;
  }

  @media (any-hover: hover) {
    svg:hover {
      fill: $color-orange;
    }
  }
}
