@import '../../styles//variables.module.scss'; 

.modal {
    position: fixed;
    margin: auto;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    & .modal__container {
        background-color: var(--currentTheme);
        border-radius: $borderRadius;
        position: relative;
        top: -20px;
        color: var(--currentTheme) !important;
        box-sizing: border-box;
        min-height: 250px;
        max-height: 650px;
        overflow-y: scroll;
        padding-left: 8px;
        min-width: min(60%, 450px);
        opacity: 1;
        z-index: 99;
    }
}

.modal_header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    min-width: 100%;
    background-color: var(--currentTheme);
    z-index: 100;
    padding: $indent-xsmall;
    border-bottom: 1px solid grey;
}

.closeIcon {
    display: block;
    position: absolute;
    color: var(--currentText);
    right: 5px;
    top: 10px;
    z-index: 1000;
    font-size: $fontSize-medium;

    svg:hover {
        fill: $color-orange;
    }
}
