@import '../../../styles/variables.module.scss';

.inputContainer {
  position: relative;
  display: flex;
}
.input {
  display: block;
  width: 300px;
  font-weight: $fontWeight-normal;
  background-clip: padding-box;
  outline: none;
  border: none;
  background-color: var(--currentTheme);
  padding: $indent-small $indent-medium;
  box-shadow: var(--currentBoxShadowInset);
  border-radius: $borderRadius;
}

.input::placeholder {
  font-weight: $fontWeight-bold;
}

.showPasswordButton {
  position: absolute;
  left: 86%;
  top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
