@import '../../../styles/variables.module.scss';

.input {
  display: block;
  width: 300px;
  font-weight: $fontWeight-normal;
  background-clip: padding-box;
  outline: none;
  border: none;
  background-color: var(--currentTheme);
  padding: $indent-small $indent-medium;
  box-shadow: var(--currentBoxShadowInset);
  border-radius: $borderRadius;
}

.input::placeholder {
  font-weight: $fontWeight-bold;
}