@import '../../styles//variables.module.scss';

.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  background-color: $color-mainLight;

  box-shadow: 13px 13px 20px $color-light1, -13px -13px 20px $color-light2;
  border-radius: 40px;
}

.text {
  margin-top: 5vh;
  font-family: $fontFamily;
  color: $color-textLight;
  font-size: $fontSize-large;
  font-weight: $fontWeight-normal;
}
.form_item {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.error {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #d12727;
}

.forgot {
  text-decoration: none;
  transform: translateY(1000%);
}

.forgot:hover {
  color: rgb(0, 0, 0);
}

.forgot_page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: $color-mainLight;

  box-shadow: 13px 13px 20px $color-light1, -13px -13px 20px $color-light2;
  border-radius: 40px;
}

.forgot_page_text {
  margin: 12px 0 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  color: $color-textLight;
}
