@import '../../styles//variables.scss';

.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  background-color: $color-mainLight;

  box-shadow: 13px 13px 20px $color-grey1, -13px -13px 20px $color-light2;
  border-radius: 40px;
}

.text {
  margin-top: 5vh;
  font-family: $fontFamily;
  color: $color-grey3;
  font-size: $fontSize-large;
  font-weight: $fontWeight-normal;
}
.form_item {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.error {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #d12727;
}
