@import '../../styles/variables.module.scss';

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $size-sidebarWidth;
  padding: $indent-small;

  .user {
    position: relative;
    display: flex;
    gap: $indent-small;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--currentBoxShadowOutline);
    border-radius: $borderRadius;
    padding: $indent-small;

    .avatar {
      background-color: var(--currentTheme);
      border-radius: 50%;
      display: flex;
      align-items: center;
      padding: $indent-small;
      box-shadow: var(--currentBoxShadowOutline);

      img {
        background-color: var(--currentTheme);
        border: 3px solid var(--currentEditionalColor);
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
      }
    }

    .fullName {
      .firstName {
        font-size: $fontSize-medium;
        font-weight: $fontWeight-bold;
      }
      .lastName {
        font-size: $fontSize-medium;
        font-weight: $fontWeight-bold;
      }
    }

    .userContrlos {
      display: flex;
      gap: 0 $indent-small;
      align-items: center;

      .settings,
      .logout,
      .theme {
        box-shadow: var(--currentBoxShadowOutline);
        border-radius: 50%;

        svg {
          width: 20px;
          height: 20px;
          margin: 10px;
          transition: $transition;
        }
      }

      .settings_active svg {
        fill: var(--currentEditionalColor);
      }

      @media (any-hover: hover) {
        .settings:hover,
        .logout:hover,
        .theme:hover {
          svg {
            fill: var(--currentEditionalColor);
          }
        }
      }
    }
  }

  .mockPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $indent-medium;
    padding: $indent-small;

    box-shadow: var(--currentBoxShadowOutline);
    border-radius: $borderRadius;
    height: 200px;
  }
}
