@import "../../styles//variables.scss";

.sidebarContainer {
    position: relative;
    padding: 10px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: $transition-slow;
}
.sidebarHidden {
    left: 300px;
}

.userInfo {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    border-radius: .5rem;
    padding: 0 10px;
}

.userPhoto {
    min-width: 32px;
    max-width: 48px;
    img {
        margin: auto;
        width: 32px;
        border-radius: 50%;
    }
}

.sidebarRooms {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    border-radius: 1rem;
    list-style: none;
    min-width: 100%;
}

.sidebarLoginButton{
    min-width: fit-content;
    // position: absolute;
    // bottom: 10px;
    align-self: center;
    justify-self: flex-end;
}